# <center> <u>Data Structures <u> </center>

## 1. Lists

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a

a

[]

In [3]:
# print the type of a
type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [7]:
#code here
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [8]:
#code here
len(languages)

5

Using for loop iterate and print all the elements in the list

In [10]:
#code here
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [19]:
#code here
temp = languages[1]
temp

'Python'

Print the value of temp and type(temp)

In [21]:
#code here
type(temp)

str

Using list comprehension, print the last two elemets of list

In [15]:
# code here
languages[3:]

['Scala', 42]

Append the element 'Java' in the list

In [23]:
#code here
languages.append('Java')

Remove the element 42 from the list and print the list

In [31]:
#code here
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [34]:
#code here
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [35]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [43]:
# code here
colors.insert(1,'Orange')

Print the list

In [44]:
# code here
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [45]:
# code here
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [46]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [47]:
# code here
print(len(colors))
colors

7

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [48]:
# code here
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [2]:
# code here
sent = 'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [3]:
# code here
words = sent.split()
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [16]:
# code here
words_lower = [x.lower() for x in words]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [5]:
# code here
'country' in words

False

Remove the element ‘the’ from the list and print the list.

In [17]:
# # code here
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [18]:
#code here
x4 = words_lower[:4]

In [19]:
# print x4
x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
#code here

'coronavirus caused lockdowns around'

## 2. Sets

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

In [20]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [21]:
#code here
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [22]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [25]:
#code here
print(stud_grades_set)

{'C', 'A', 'B', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [26]:
#code here
print(type(stud_grades),stud_grades)
print(type(stud_grades_set),stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'C', 'A', 'B', 'F'}

Add a new element ‘G’ to stud_grades_set

In [27]:
#code here
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [29]:
#code here
stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [30]:
#code here
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [31]:
#code here
print(stud_grades_set)
print(len(stud_grades_set))

{'C', 'G', 'A', 'B'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [32]:
#code here
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [36]:
#code here
print(colors)    
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [38]:
#code here
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'blue', 'orange', 'red'}
{'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [39]:
#code here
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [40]:
#code here
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [42]:
#code here
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## 3. TUPLES

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

In [45]:
#code here
temp = [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [50]:
#code here
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [52]:
#code here
temp[0]=17

Set temp1 = tuple(temp)

In [57]:
#code here
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [58]:
#code here
for i in temp1:
    print(i)

17
Virat
50.0

replace first element with 17 in temp1

In [59]:
#code here
temp1[0]=17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

In [60]:
#code here
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [61]:
#code here
city[1]

28.9949521

Create city2 = (‘Chennai’, 30.01, 74)

In [62]:
#code here
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [63]:
#code here
cities = city,city2

Print cities

In [64]:
#code here
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
#code here

<class 'tuple'>

print the type of cities

In [65]:
#code here
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [66]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [68]:
#code here
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [69]:
#code here
actor=d['actor']

Print the type of actor

In [70]:
#code here
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [71]:
#code here
I = d['list']

Print the type of l.

In [72]:
#code here
print(type(I))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [73]:
#code here
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [74]:
#code here

d = {**d,**d1}

print d

In [75]:
#code here
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [77]:
#code here
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [78]:
#code here
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [79]:
#code here
for i,j in d.items():
    print(i,'------>',j)

actor ------> amir
animal ------> cat
earth ------> 2
list ------> [23, 32, 12]
singer ------> Kr$na
album ------> Still here
genre ------> hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [81]:
#code here
sent = 'Coronavirus Caused Lockdowns Around The World'
dict1={}
for i in sent:
    dict1[i]=0
for j in sent:
    dict1[j]=dict1[j]+1

dict1

{'C': 2,
 'o': 6,
 'r': 4,
 'n': 3,
 'a': 2,
 'v': 1,
 'i': 1,
 'u': 3,
 's': 3,
 ' ': 5,
 'e': 2,
 'd': 4,
 'L': 1,
 'c': 1,
 'k': 1,
 'w': 1,
 'A': 1,
 'T': 1,
 'h': 1,
 'W': 1,
 'l': 1}

# --------------------------------------------------------------------


We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.